<html>
<head>
  <title>Podcast Pingback: {{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="/styles/stylesheet.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="container"><a href="/">Podcast Pingback</a></div>
  </header>
  <section class="container">
    {{{copy}}}
    {{dateString}}
  </section>
  <footer>
    <div class="container">
      <ul class="inline">
        <li><a href="/">Announcements</a></li>
        <li><a href="/specification/1">Specification</a></li>
        <li><a href="/libraries">Developers</a></li>
        <li><a href="https://github.com/aiir/podcast-pingback">GitHub Repo</a></li>
      </ul>
      <p>&copy; {{year}} <a href="https://www.aiir.com/">Aiir</a></p>
    </div>
  </footer>
</body>
</html>
