<!doctype html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Podcast Pingback: {{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="/styles/stylesheet.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="header">
    <div class="container"><a href="/" class="header__title">
      <svg width="32" height="32" class="header__icon" xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M1.64 16C3.761 16 3.054 20 5 20c1.947 0 2.586-11 4-11 1.415 0 1.97 14 4 14 2.03 0 2.18-12 4-12 1.821 0 2.492 9 4 9 1.509 0 1.58-4.083 5.001-6.98M22 12h5M27 17v-5"/><path d="M4.706 5C2.668 5 1 6.52 1 8.5v15.135C1 25.615 2.668 27 4.706 27h22.588C29.353 27 31 25.615 31 23.635V9.5C31 7.52 29.353 5 27.294 5H4.706z"/></g></svg>Podcast Pingback</a>
    </div>
  </header>
  <nav class="navigation">
    <div class="container">
      <ul class="inline">
        <li><a class="navigation__link" href="/">Announcements</a></li>
        <li><a class="navigation__link" href="/specification/1">Specification</a></li>
        <li><a class="navigation__link" href="/demo">Demo</a></li>
        <li><a class="navigation__link" href="/libraries">Developers</a></li>
        <li><a class="navigation__link" href="/about">About</a></li>
        <li><a class="navigation__link" href="https://github.com/aiir/podcast-pingback">GitHub Repo</a></li>
      </ul>
    </div>
  </nav>
  <section class="container">
    {{{copy}}}
    {{dateString}}
  </section>
  <footer>
    <div class="container">
      <div class="footer__inner">
        <div class="footer__primary">
          <svg width="128" height="96" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M18.825 4C10.671 4 4 10.078 4 18v60.54C4 86.46 10.671 92 18.825 92h90.35C117.411 92 124 86.461 124 78.54V22c0-7.922-6.589-18-14.825-18h-90.35z" fill="#FFF"/><path d="M6.557 48c8.49 0 5.662 16 13.448 16 7.786 0 10.343-44 16-44 5.658 0 7.88 56 16 56 8.121 0 8.717-48 16-48 7.283 0 9.965 36 16 36s6.321-16.332 20.004-27.922M88 32h20M108 52V32" stroke="#808285" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.825 4C10.671 4 4 10.078 4 18v60.54C4 86.46 10.671 92 18.825 92h90.35C117.411 92 124 86.461 124 78.54V22c0-7.922-6.589-18-14.825-18h-90.35z" stroke="#B593B8" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
          <p><a href="mailto:feedback@podping.info">feedback@podping.info</a></p>
        </div>
        <div class="footer__secondary">
          <a href="https://www.aiir.com/">
            <svg width="250" height="83" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M38.788 46.007H.328V.46h38.46z"/><path id="c" d="M38.788 46.007H.328V.46h38.46z"/><path id="e" d="M147.465 36.443v36.221H.565V.222h146.9z"/><path id="g" d="M147.465 36.443v36.221H.565V.222h146.9z"/><path id="i" d="M147.465 36.443v36.221H.565V.222h146.9z"/><path id="k" d="M.036 82.393V.43h82.101v81.963z"/><path id="m" d="M.036 82.393V.43h82.101v81.963z"/></defs><g fill="none" fill-rule="evenodd"><g transform="translate(168.69 36.956)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M14.82 43.717V2.702c0-2.344-2.234-2.241-1.893-2.241H2.684c-1.66 0-2.356.868-2.356 2.228v41.08c0 1.332.577 2.275 1.877 2.275h10.439c1.753 0 2.176-.841 2.176-2.327" fill="#2DC6E2" fill-rule="nonzero" mask="url(#b)"/></g><g transform="translate(168.69 36.956)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path d="M38.788 43.717V2.702c0-2.344-2.233-2.241-1.892-2.241H26.653c-1.66 0-2.357.868-2.357 2.228v41.08c0 1.332.578 2.275 1.878 2.275h10.438c1.754 0 2.176-.841 2.176-2.327" fill="#2DC6E2" fill-rule="nonzero" mask="url(#d)"/></g><path d="M176.21 29.954c5.62 0 9.936-4.406 9.936-9.716 0-5.412-4.316-9.716-9.935-9.716-5.518 0-9.835 4.304-9.835 9.716 0 5.31 4.317 9.716 9.835 9.716" fill="#2DC6E2" fill-rule="nonzero"/><g transform="translate(101.942 10.3)"><mask id="f" fill="#fff"><use xlink:href="#e"/></mask><path d="M98.372 19.655c5.62 0 9.935-4.407 9.935-9.716 0-5.412-4.315-9.717-9.935-9.717-5.518 0-9.835 4.305-9.835 9.717 0 5.31 4.317 9.716 9.835 9.716" fill="#2DC6E2" fill-rule="nonzero" mask="url(#f)"/></g><g transform="translate(101.942 10.3)"><mask id="h" fill="#fff"><use xlink:href="#g"/></mask><path d="M60.412 69.448L38.532 9.012c-.425-1.171-1.59-2.509-2.749-2.509H25.354c-1.271 0-1.967.353-2.55 1.977L.94 69.602C.464 70.937-.02 72.7 2.644 72.7h11.588c1.39 0 2.031-.137 2.563-1.805l1.419-4.457c.388-1.223 1.58-1.777 2.623-1.777h18.77c1.507 0 2.999.767 3.582 2.6l1.083 3.405c.367 1.147.902 2.034 3.1 2.034l10.713-.008c1.622 0 3.242-.717 2.328-3.245M24.543 52.652c-1.39 0-1.528-1.818-1.252-2.742l6.551-21.906c.41-1.257 1.155-1.287 1.531.002l6.324 21.903c.549 1.879-.06 2.743-1.334 2.743h-11.82" fill="#2DC6E2" fill-rule="nonzero" mask="url(#h)"/></g><g transform="translate(101.942 10.3)"><mask id="j" fill="#fff"><use xlink:href="#i"/></mask><path d="M146.078 26.66c-.882-.214-1.79-.297-2.78-.297-5.76 0-10.589 2.928-13.123 6.487 0 .002-.002.002-.004.003-.543.71-.983.166-.983-.558V29.65c0-1.307-.277-2.531-2.104-2.531h-9.92c-1.39 0-2.472 1.013-2.472 2.632v40.91c0 .816.309 2.04 2.008 2.04h10.662c1.159 0 1.826-.697 1.826-2.04V54.922c0-11.253 5.208-15.323 13.35-15.323 1.422 0 2.52.136 3.995.452v-.001c.385.084.932.055.932-.929V28.174c-.02-.529-.199-1.15-1.387-1.515" fill="#2DC6E2" fill-rule="nonzero" mask="url(#j)"/></g><path d="M47.1 82.633h11.205c1.117-12.6 11.333-22.625 24.029-23.468V47.898c-18.87.916-34.078 15.957-35.233 34.735" fill="#2DC6E2" fill-rule="nonzero"/><g><mask id="l" fill="#fff"><use xlink:href="#k"/></mask><path d="M25.592 79.58a40.927 40.927 0 0 0 11.137 2.813c1.289-24.308 20.996-43.811 45.409-44.838a40.74 40.74 0 0 0-2.662-11.065c-28.47 2.207-51.304 24.765-53.884 53.09" fill="#2DC6E2" fill-rule="nonzero" mask="url(#l)"/><g><mask id="n" fill="#fff"><use xlink:href="#m"/></mask><path d="M73.961 16.692C66.441 6.812 54.553.43 41.167.43 18.433.43.002 18.831 0 41.532 0 54.703 6.212 66.416 15.862 73.94c4.76-29.551 28.378-52.88 58.1-57.248" fill="#2DC6E2" fill-rule="nonzero" mask="url(#n)"/></g></g><path d="M82.271 79.758c.02-.028.041-.053.063-.08V69.552c-6.977.776-12.553 6.194-13.583 13.082h10.605c1.468 0 2.915-.574 2.915-2.875" fill="#2DC6E2" fill-rule="nonzero"/></g></svg>
            <p>Podcast Pingback is sponsored by Aiir</p>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
